/*   
 * Template Name: Appkit Landing - Responsive Website Template for Developers
 * Version: 1.0
 * Author: Xiaoying Riley
 * Website: http://themes.3rdwavemedia.com/
 * Twitter: @3rdwave_themes
* License: Creative Commons Attribution 3.0 License
*/
/* Theme default */
body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #3aa7aa;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #339597;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn-cta,
a.btn-cta {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
}
.btn-primary {
  background: #40babd;
  border: 1px solid #40babd;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.hover {
  background: #3aa7aa;
  color: #fff;
  border: 1px solid #3aa7aa;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-indicators {
  bottom: 30px;
  margin-bottom: 0;
}
.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 5px;
}
.carousel-indicators li.active {
  background-color: #40babd;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 5px;
}
/* ======= Header ======= */
.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  height: 60px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header.header-scrolled {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.header.header-scrolled a {
  color: #494d55;
}
.header.header-scrolled .logo {
  color: #40babd;
  padding-top: 12px;
}
    .header.header-scrolled  .nav-item active {
        color: red;
    }

    .header.header-scrolled .main-nav .nav .nav-item a {
        color: yellow;
        text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
    }
    .header.header-scrolled .main-nav .nav .nav-item.active a {
        color: #494d55;
        text-shadow: 0 0 10px #FF0000, 0 0 5px yellow;
        border-bottom: 4px solid purple;
    }
    .header.header-scrolled .main-nav .nav .nav-item:hover {
        transition-duration: 2s;
        text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
    }
.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header a:hover {
  text-decoration: none;
}
.header .logo {
  margin: 0;
  display: inline-block;
  float: left;
  font-size: 28px;
  padding-top: 15px;
}
.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}
.header .logo .logo-icon {
  width: 30px;
  height: 30px;
}
.header .logo .highlight {
    font-weight: 800;
    color: yellow;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}
    .header .container {
        width:100%;
    }
    .main-nav {
        margin-top: 6px;
    }
.main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #26282c;
}
.main-nav .navbar-toggle:focus {
  outline: none;
}
.main-nav .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
}
.main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.main-nav .nav .nav-item {
  font-weight: normal;
  font-size: 14px;
  margin-right: 25px;
}
    .main-nav .nav .nav-item.active a {
        background: none;
        color: #fff;
        color: yellow;
        text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
    }
.main-nav .nav .nav-item a {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;
}
.main-nav .nav .nav-item a:hover {
    color: #fff;
    background: none;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}
.main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.main-nav .nav .nav-item:last-child {
  margin-right: 0;
}
.main-nav .nav.active {
  position: relative;
}
.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}
/* ====== Footer ====== */
.footer {
    background: #26282c;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0;
}
.footer a {
  color: #40babd;
}
.footer .fa-heart {
  color: #EA5395;
}
/* ======= Hero Section ======= */
.hero-section {
  min-height: 560px;
  background: #494d55;
  position: relative;
}
.btn:hover{
background-color: yellow;
}
.hero-section .figure-holder-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.hero-section .figure-holder {
  position: relative;
  height: 560px;
}
.hero-section .figure-holder .figure-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.hero-carousel {
  height: 560px;
  color: #fff;
}
.hero-carousel .carousel-inner .item {
  height: 560px;
  background-position: center center;
}
.hero-carousel .carousel-inner .item-1 {
  background-image: url('images/hero-1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-carousel .carousel-inner .item-2 {
  background-image: url('images/hero-2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-carousel .carousel-inner .item-3 {
  background-image: url('images/hero-3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-carousel .carousel-inner .heading {
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}
.hero-carousel .carousel-inner .intro {
  font-size: 18px;
}
.hero-carousel .carousel-inner .intro + .btn {
  margin-top: 15px;
}
/* ======= About Section ======= */
.about-section {
  padding-top: 90px;
}
.about-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}
.about-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about-section .items-wrapper {
  margin-bottom: 60px;
}
.about-section .items-wrapper .figure-holder {
  min-height: 170px;
  margin-bottom: 15px;
  vertical-align: bottom;
}
.about-section .items-wrapper .item-inner {
  padding: 30px;
}
.about-section .items-wrapper .item-title {
  color: #40babd;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}
.about-section .items-wrapper .item-desc {
  color: #616670;
}
.technologies {
  margin-bottom: 90px;
}
.technologies li {
  margin-right: 10px;
}
.technologies li:last-child {
  margin-right: 0;
}
.testimonials {
  background: #40babd;
}
.testimonials-inner {
  padding: 60px 30px;
  position: relative;
  max-width: 800px;
}
.testimonials-inner .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}
.testimonials-inner .profile-image {
  display: inline-block;
  margin: 0 auto;
}
.testimonials-inner .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 130px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 15px;
}
.testimonials-inner .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}
/* ======= Testimonials Section ======= */
.testimonials-section {
  background: #40babd url('images/map.svg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
.testimonials-section .section-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}
.testimonials-section .item {
  position: relative;
  max-width: 800px;
  padding: 30px;
}
.testimonials-section .item:last-child {
  margin-bottom: 0;
}
.testimonials-section .item.item-reversed .profile-holder {
  left: inherit;
  right: 30px;
}
.testimonials-section .item.item-reversed .quote {
  margin-left: 0;
  margin-right: 105px;
}
.testimonials-section .item.item-reversed .quote:before {
  left: inherit;
  right: -10px;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.2);
  border-right: inherit;
}
.testimonials-section .item .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}
.testimonials-section .item .profile-image {
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.testimonials-section .item .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 105px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 80px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 30px;
}
.testimonials-section .item .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}
.testimonials-section .item .quote-source {
  color: rgba(0, 0, 0, 0.6);
}
/* ======= Features Section ======= */
.features-section {
  padding-top: 90px;
  padding-bottom: 90px;
}
.features-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}
.features-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.feature-nav {
  text-align: center;
  margin-bottom: 30px;
}
.feature-nav > li {
  position: relative;
}
.feature-nav > li .fa {
  margin-right: 5px;
}
.feature-nav > li.active > a {
  color: #40babd;
  background: none;
  padding: 8px 0;
}
.feature-nav > li > a {
  background: none;
  padding: 8px 0;
  color: #616670;
}
.feature-nav > li > a:hover {
  background: none;
  color: #40babd;
}
/* ======= Pricing Section ======= */
.pricing-section {
  padding-top: 90px;
  padding-bottom: 90px;
}
.pricing-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}
.pricing-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.pricing-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.pricing-wrapper .item {
  margin-bottom: 30px;
}
.pricing-wrapper .item-inner {
  color: #fff;
  padding: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #40babd;
  min-height: 390px;
}
.pricing-wrapper .item-inner a {
  color: rgba(0, 0, 0, 0.4);
}
.pricing-wrapper .item-1 .item-inner {
  background: #75c181;
}
.pricing-wrapper .item-2 .item-inner {
  background: #58bbee;
}
.pricing-wrapper .item-3 .item-inner {
  background: #F8A13F;
}
.pricing-wrapper .item-heading {
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  min-height: 60px;
}
.pricing-wrapper .price-figure {
  font-size: 46px;
  margin-bottom: 15px;
}
.pricing-wrapper .price-figure .currency {
  vertical-align: super;
  font-size: 26px;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.pricing-wrapper .price-figure .number {
  font-weight: 500;
}
.pricing-wrapper .price-desc {
  margin-bottom: 30px;
  min-height: 120px;
}
.pricing-wrapper a.btn {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.pricing-wrapper a.btn:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* ======= Team Section ======= */
.team-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #f5f5f5;
}
.team-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}
.team-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.team-section .story {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 800px;
}
.team-section .profile-image {
    border-radius:50%;
  width: 120px;
  height: 120px;
}
.team-section .members-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.team-section .item-inner {
  padding: 60px;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.team-section .member-name {
  font-size: 18px;
  font-weight: 700;
  color: #40babd;
}
.team-section .member-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #616670;
}
.team-section .social {
  margin-bottom: 30px;
}
.team-section .social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #40babd;
  padding-top: 4px;
  color: #fff;
}
.team-section .social a.google {
  background: #dd4b39;
}
.team-section .social a.google:hover {
  background: #d73925;
}
.team-section .social a.twitter {
  background: #55acee;
}
.team-section .social a.twitter:hover {
  background: #3ea1ec;
}
.team-section .social a.facebook {
  background: #3b5998;
}
.team-section .social a.facebook:hover {
  background: #344e86;
}
.team-section .social a.linkedin {
  background: #1E6FBA;
}
.team-section .social a.linkedin:hover {
  background: #1a62a4;
}
.team-section .social a.github {
  background: #444;
}
.team-section .social a.github:hover {
  background: #373737;
}
.team-section .social a.dribbble {
  background: #EC4D8B;
}
.team-section .social a.dribbble:hover {
  background: #ea367c;
}
.team-section .member-desc {
  color: #616670;
}
/* ======= Contact Section ======= */
.contact-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #494d55 url('images/map.svg') no-repeat center center;
  color: #fff;
}
.contact-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
}
.contact-content {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    background: #26282c;
    z-index: 40;
  }
  .header .main-nav .navbar-collapse .nav-item.active a {
    color: #40babd;
  }
  .header.header-scrolled .main-nav .navbar-collapse .nav-item.active a {
    border: none;
    color: #40babd;
  }
  .main-nav .navbar-collapse .nav-item {
    margin-right: 0;
  }
  .main-nav .navbar-collapse .nav-item a {
    text-align: center;
  }
  .pricing-wrapper .item-inner {
    min-height: inherit;
  }
  .pricing-wrapper .price-desc {
    min-height: inherit;
  }
  .hero-section .figure-image {
    width: 300px;
  }
  .hero-carousel .carousel-inner .heading {
    font-size: 26px;
  }
  .hero-carousel .carousel-inner .item-content-inner {
    padding-top: 100px;
  }
  .hero-section .figure-holder .figure-image {
    width: inherit;
    bottom: 0;
    top: inherit;
    right: inherit;
    left: 15px;
    max-width: 320px;
  }
  .technologies li {
    margin-bottom: 15px;
  }
  .members-wrapper .item {
    margin-bottom: 30px;
  }
  .members-wrapper .item:last-child {
    margin-bottom: 0;
  }
  .hero-carousel {
    height: 660px;
  }
  .hero-section .carousel-inner {
    height: 660px;
  }
  .hero-carousel .carousel-inner .item {
    height: 660px;
  }
  .testimonials-section .item .profile-image {
    width: 60px;
    height: 60px;
  }
  .testimonials-section .item .quote {
    margin-left: 85px;
    padding: 15px;
  }
  .testimonials-section .item.item-reversed .quote {
    margin-right: 85px;
  }
  .team-section .item-inner {
    min-height: inherit;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .feature-nav {
    text-align: left;
    padding-left: 30px;
  }
  .feature-nav > li {
    font-size: 15px;
  }
  .hero-section .figure-holder .figure-image {
    width: 400px;
    bottom: inherit;
    top: 130px;
  }
  .hero-carousel .carousel-inner .item-content-inner {
    max-width: 300px;
    padding-top: 120px;
  }
  .team-section .item-inner {
    min-height: 515px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .feature-nav {
    margin-top: 30px;
    padding-left: 15px;
  }
  .feature-nav > li {
    font-size: 16px;
  }
  .feature-nav > li > a {
    padding: 15px 0;
  }
  .feature-nav > li.active > a {
    padding: 15px 0;
  }
  .hero-section .figure-holder .figure-image {
    width: 420px;
    bottom: inherit;
    top: 130px;
  }
  .hero-carousel .carousel-inner .item-content-inner {
    max-width: 500px;
  }
  .team-section .item-inner {
    min-height: 390px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-section .figure-holder .figure-image {
    width: 570px;
    bottom: 0;
    top: inherit;
  }
}


#social-media {
    background: #f8f9fa;
    padding: 100px 0;
}


    #social-media p {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 30px;
    }

.social-icons img {
    width: 60px;
    transition: 0.5s;
    margin: 5px;
}


    .social-icons a:hover img {
        transform: translateY(-10px);
        width: 80px;
    }


.nav-item {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

    .nav-item * {
        box-sizing: border-box;
    }

    .nav-item li {
        display: inline-block;
        list-style: outside none none;
        margin: 0 1.5em;
        padding: 0;
    }

    .nav-item a {
        padding: 0.5em 0;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        letter-spacing: 1px;
        text-decoration: none;
    }

        .nav-item a:before,
        .nav-item a:after {
            position: absolute;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        .nav-item a:before {
            bottom: 0;
            display: block;
            height: 3px;
            width: 0%;
            content: "";
            background-color: purple;
        }

        .nav-item a:after {
            left: 0;
            top: 0;
            padding: 0.5em 0;
            position: absolute;
            content: attr(data-hover);
            color: #ffffff;
            white-space: nowrap;
            max-width: 0%;
            overflow: hidden;
        }

        .nav-item a:hover:before
         {
            opacity: 1;
            width: 100%;
        }

        .nav-item a:hover:after
         {
            max-width: 100%;
        }
    .nav-item.active a:before, .nav-item.active a:after {
        opacity:0;
    }

/* style the container */
.container1 {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container1 {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  margin-left: 10%;
  margin-right: 10%;
  position: center;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

 #myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

 #myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  width: 80%; /* Full-width */
  margin-left: 10%;
  margin-right: 10%;

  color: #494d55;


}

#myUL li a:hover {
  transition-duration: 1s;
  text-shadow: 0 0 10px #FF0000, 0 0 5px yellow;
}
#myUL li a:hover {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border-bottom: 4px solid purple;
}
#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
