<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 website landing page for developers and startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link id="theme-style" rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<body>
<header id="header" class="header" style="position: relative;">
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <span class="logo-icon-wrapper"><img class="logo-icon" src="/images/logo.png" alt="icon"></span>
                <span class="text"><span class="highlight">COYS ➤ Club Of Young Streamers</span></span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->

<div  class="features-section">
        <div class="container text-center">
            <h2 class="section-title"> <tr th:text="${game.getName()}">lol</tr> </h2>
        </div>
</div>

<div id="features" class="container1">
    <ul id="myUL">
        <tr th:each="user : ${user}">
            <li><a><td  th:text="${user.full_name}">Name</td>: # of viewers <td style="right: 90%" th:text="${user.v.size()}">num</td>. Contact number: +420 <td style="right: 90%" th:text="${user.contact_number}">num</td>
            </a>
                <script>myFunction1();</script>
            </li>
        </tr>
    </ul>
</div>
<section id="social-media">
    <div class="container text-center">
        <p>Contact us</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/andrew.streamer.7146"><img src="/images/face.png" /></a>
            <a href="https://t.me/Club_Of_Young_Streamers"><img src="/images/tel.png" /></a>
            <a href="#"><img src="/images/inst.png" /></a>
            <a href="https://vk.com/clubofyoungstreamers"><img src="/images/vk.png" /></a>
        </div>
    </div>
</section>

<!-- Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>