<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 website landing page for developers and startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link id="theme-style" rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
}

function myFunction1() {
    var ul, li,a, i, txtValue, th;
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');
    for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            li[i].getElementsByTagName("a")[0].href = "/search/" + txtValue;

    }

}

</script>
<body>
<header id="header" class="header" style="position: relative;">
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <span class="logo-icon-wrapper"><img class="logo-icon" src="/images/logo.png" alt="icon"></span>
                <span class="text"><span class="highlight">COYS ➤ Club Of Young Streamers</span></span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->

<div id="features" class="container1">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <ul id="myUL">
    <tr th:each="game : ${games}">
        <li><a><td  th:text="${game.name}">Name</td>
            </a>
        </li>
        <script>myFunction1();</script>
    </tr>
    </ul>

</div>

<section id="social-media">
    <div class="container text-center">
        <p>Contact us</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/andrew.streamer.7146"><img src="/images/face.png" /></a>
            <a href="https://t.me/Club_Of_Young_Streamers"><img src="/images/tel.png" /></a>
            <a href="#"><img src="/images/inst.png" /></a>
            <a href="https://vk.com/clubofyoungstreamers"><img src="/images/vk.png" /></a>
        </div>
    </div>
</section>

<!-- Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>

